body{
  background-color: pink;
}

h5{
  text-align: center;
}

h3{
  text-align: center;
}

table{
  width: 250px;
  margin-left: 60px;
  padding: 20px;
   border-spacing: 0px 5px;
  border-collapse: separate;
  empty-cells: hide;
}

td{
  text-align: center;
  color: blue;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid blue;
  padding: 5px 5px;
}